<%-include("partials/header")-%>

<style media="screen">
  body{
    background-image: url(img/background.png);
  }
</style>

<%-include("partials/navbar")-%>


  <div class="btn-container">
    <h2>Selecciona la emoción que te represente mejor :)</h2>
    <form class="" action="/" method="post">

      <div class="btn-group-vertical" role="group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked value="rFurioso">
        <label class="btn btn-danger" for="btnradio1">Furioso</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="rEstresado">
        <label class="btn btn-danger" for="btnradio2">Estresado</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="rFrustrado">
        <label class="btn btn-danger" for="btnradio3">Frustrado </label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" value="rNervioso">
        <label class="btn btn-danger" for="btnradio4">Nervioso </label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" value="rMolesto">
        <label class="btn btn-danger" for="btnradio5">Molesto</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" value="rAnsioso">
        <label class="btn btn-danger" for="btnradio6">Ansioso</label>
      </div>

      <div class="btn-group-vertical" role="group" >
        <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off" checked value="bDecepcionado">
        <label class="btn btn-primary" for="btnradio7">Decepcionado</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off" value="bDecaído">
        <label class="btn btn-primary" for="btnradio8">Decaído</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off" value="bTriste">
        <label class="btn btn-primary" for="btnradio9">Triste</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off" value="bCansado">
        <label class="btn btn-primary" for="btnradio10">Cansado</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off" value="bAbatido">
        <label class="btn btn-primary" for="btnradio11">Abatido</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio12" autocomplete="off" value="bDevastado">
        <label class="btn btn-primary" for="btnradio12">Devastado</label>

      </div>

      <div class="btn-group-vertical" role="group" >
        <input type="radio" class="btn-check" name="btnradio" id="btnradio13" autocomplete="off" checked value="ySorprendido">
        <label class="btn btn-warning" for="btnradio13">Sorprendido</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio14" autocomplete="off" value="yMotivado">
        <label class="btn btn-warning" for="btnradio14">Motivado</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio15" autocomplete="off" value="yInspirado">
        <label class="btn btn-warning" for="btnradio15">Inspirado</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio16" autocomplete="off" value="yFeliz">
        <label class="btn btn-warning" for="btnradio16">Feliz</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio17" autocomplete="off" value="yConcentrado">
        <label class="btn btn-warning" for="btnradio17">Concentrado</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio18" autocomplete="off" value="yJubiloso">
        <label class="btn btn-warning" for="btnradio18">Jubiloso </label>
      </div>

      <div class="btn-group-vertical" role="group" >
        <input type="radio" class="btn-check" name="btnradio" id="btnradio19" autocomplete="off" checked value="gCómodo">
        <label class="btn btn-success" for="btnradio19">Cómodo</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio20" autocomplete="off" value="gCapaz">
        <label class="btn btn-success" for="btnradio20">Capaz</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio21" autocomplete="off" value="gSatisfecho">
        <label class="btn btn-success" for="btnradio21">Satisfecho</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio22" autocomplete="off" value="gAfortunado">
        <label class="btn btn-success" for="btnradio22">Afortunado</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio23" autocomplete="off" value="gEquilibrado">
        <label class="btn btn-success" for="btnradio23">Equilibrado</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio24" autocomplete="off" value="gTranquilo">
        <label class="btn btn-success" for="btnradio24">Tranquilo</label>
      </div>

      <button class="btn btn-outline-dark submit" type="submit" name="subutton" value="hi">Siguiente</button>
    </form>
  </div>


<%-include("partials/bottom")-%>
