<%- include("partials/header") -%>

<style media="screen">

  body{
    background-color: #FCFFA6;
  }

  a, span{
    color: #7e68c2;
  }

  .container{
    margin: 6% 8%;
  }

  .transparent{
    background: rgba(0,0,0,0.03);
  }

  .navbar-brand{
    margin-right: 4%;
  }

</style>


<div class="nav-container transparent">
<nav class="navbar navbar-expand-lg navbar-light transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img class="mini-logo" src="public/img/logo.png" alt=""> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/emotions"><3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/message">Mis emociones</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Journal
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/journal">Entradas</a></li>
            <li><a class="dropdown-item" href="/compose">Escribir</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/hotline">Línea de apoyo</a></li>
          </ul>
        </li>
    </div>
  </div>
</nav>
</div>

<div class="container">
  <h2> <%=postTitle %> </h2>
  <p> <%=postContent%> </p>
</div>

<%- include("partials/bottom")  -%>
