<%- include("partials/header")-%>
<%-include("partials/navbar")-%>

<h4>¿Necesitas ayuda psicológica?</h4>
<p style="text-align: center;">Consulta la línea de la vida en el siguiente teléfono: <span>800 911 2000</span></p>

<%-include("partials/bottom")-%>
