<%-include("partials/header")-%>
<%-include("partials/navbar")-%>


<div class="main-container">
<img class="logo" src="img/mainImg.png" alt="">

</div>
<a href="emotions" class="mainBtn">Comparte cómo te sientes <3</a>


<%-include("partials/bottom")-%>
